
body{
    margin: 0;
    height: 100vh;
    background: linear-gradient(180deg,#ffa69e,#913d6e);
}

#header{
    border-bottom: 1px black solid;
    margin-bottom: 5px;
    height: 150px;
}

#title{
    font-size: 50px;
    text-align: center;
    line-height: 150px;
    font-family: 'Anton', sans-serif;
    margin: 0;
}

#grid_container{
    display: grid;
    grid-template-columns: 300px 1fr 1fr;
    margin-top: 0;
    padding : 0;
    height: 75%;
}


#function_Section{
    margin-top: 0;
    border-right : 1px black solid;
}


.func_btn{
    font-size: 16px;
    color : white;
    border: none;
    display: block;
    width : 85%;
    margin: 0 auto;
    margin-top : 15px;
    background-color: inherit;
    font-family: 'Blinker', sans-serif;
}

.func_btn:hover{
    color : yellow;
}

#todayWork_Section{
    border-right : 1px black solid;
}

.workList h3{
    font-size: 25px;
    text-align: center;
    font-family: 'Nunito', sans-serif;
    font-weight: bold;
}

.workList ul{
    text-align: left;
    list-style: none
}

.workList ul li{
    margin-top : 30px;
}

#overdue_Section{
    border-top: 1px black solid;
    margin-top: 30px;
}

#overdue_Section h2{
    text-align: center;
}
#overdue_Section ul{
    list-style: none;
}

#boxDesign{
    display : none;
}
#boxDesign+label{
    display: inline-block;
    cursor: pointer;
    width : 20px;
    height : 20px;
    border : 1px black solid;
}

#boxDesign:checked+label{
    background-color: red;
}

.checkBoxText{
    position : absolute;
    top : 4px;
    left : 28px;
}



